$city-item-top-bottom-padding: 20px;
$city-item-background-color: #FFF;
$city-item-margin: 10px;
$page-bg-color: #EEE;

// rh search
.rs-top-view {
  font-size: 34px;
  background-color: $page-bg-color;
}

// search box
.sb-container {
  margin-top: 100px;
  padding: 30px;
  background-color: $city-item-background-color;
  border-top: 10px solid $page-bg-color;
}

.sb-container-2 {
  display: flex;
  flex-direction: colume;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #8AC007;
  border-radius: 20px;
}

.sb-search-box {
  padding-left: 20px;
}

.rs-search-icon {
  padding: 20px;
  background-color: $page-bg-color;
  border-radius: 0px 20px 20px 0px;
}

.hot-city-row-container {
  display: flex;
  flex-direction: colume;
}

.hot-city-item {
  background-color: $city-item-background-color;
  padding: $city-item-top-bottom-padding 40px;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin: $city-item-margin;
  overflow: hidden;
  white-space: nowrap;
}
