$city-item-top-bottom-padding: 20px;
$city-item-background-color: #FFF;
$city-item-margin: 10px;

.rhsearch-top-view {
  font-size: 34px;
  background-color: #EEE;
}

// title
.title {
  width: 100%;
  display: flex;
  flex-direction: colume;
  align-items: center;
  justify-content: center;
  background-color: $city-item-background-color;
  padding: 25px 0px;
  /*position: fixed;*/
}

.back-icon {
  padding: 0px 30px;
}

// search box
.search-box-container {
  display: flex;
  flex-direction: colume;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  padding: 20px;
  background-color: #FFF;
}

.rh-search-search-box {
  border: 2px solid #DDD;
  padding: 15px;
}

.rh-search-search-icon {
  padding: 20px;
}
