.reg-top-view {
  font-size: 25px;
  background-color: #EEE;
}

.reg-top-view-1 {
  margin: 30px;
}

.reg-input-container {
  background-color: #FFF;
  border-radius: 15px;
  padding: 5px 20px;
}

.reg-input-username {
  border-bottom: 3px solid #EEE;
}

.reg-input-submit {
  background-color: #FFF;
  border-radius: 15px;
  margin: 30px 0px 8px 0px;
  padding: 5px 20px;
  text-align: center;
}
