$page-background-color: #FFF;
$item-border-color: #DDD;
$item-lr-padding: 15px;
$item-border-color-bold: #8AC007;

.idx-top-container {
  background-color: $page-background-color;
  font-size: 30px;
  margin: 25px;
}

.idx-top-title {
  text-align: right;
  font-size: 25px;
  border-bottom: 5px solid $item-border-color-bold;
}

.idx-input-item-container {
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
  // border-bottom: 3px solid #8AC007;
  border-bottom: 3px solid $item-border-color;
  padding: 20px 0px;
}

.idx-input-item-container-bold {
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
  border-bottom: 5px solid $item-border-color-bold;
  padding: 20px 0px;
}

.idx-input-item-container-bold2 {
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
  border-bottom: 5px solid $item-border-color;
  padding: 20px 0px;
}

@mixin idx_input_title(){
  flex: 4;
  flex-wrap: nowrap;
  padding-left: $item-lr-padding;
}

.idx-input-title {
  @include idx_input_title();
}

.idx-input-title-bold {
  @include idx_input_title();
  font-weight: bold;
}

.idx-input-title2 {
  @include idx_input_title();
  border-left: 3px solid $item-border-color;
}

.idx-input-title2-bold {
  @include idx_input_title();
  border-left: 3px solid $item-border-color;
  font-weight: bold;
}

@mixin idx_input_text(){
  flex: 3;
  flex-wrap: nowrap;
  text-align: right;
  padding-right: $item-lr-padding;
}

.idx-input-text {
  @include idx_input_text();
}

.idx-input-text-bold {
  @include idx_input_text();
  font-weight: bold;
}

.idx-input-text-disable {
  @include idx_input_text();
  background-color: $item-border-color;
}

.idx-radio-title {
  padding: 0px $item-lr-padding;
}

.idx-radio-text {
  font-size: 32px;
}

.idx-input-text-deedtax {
  margin-right: 25px;
}

.idx-button-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 25px;
  padding: 0px 25px 20px 25px;
}

.idx-bottom-cont {
  color: $item-border-color;
  text-align: center;
  padding: 20px;
}
