$toobar-height: 100px;
$page-background-color: #FFF;
// $item-border-color-bold: #8AC007;
$item-border-color-bold: #8AC007;
$item-top-bottom-padding: 20px;
$item-left-right-padding: 15px;
$item-bold-border: 4px;
$item-border: 3px;
$item-border-color: #DDD;
