$city-item-top-bottom-padding: 20px;
$city-item-background-color: #FFF;
$city-item-margin: 10px;

.au-top-view {
  font-size: 34px;
  background-color: #EEE;
}

.au-title-container {
  width: 100%;
  display: flex;
  flex-direction: colume;
  justify-content: space-around;
  text-align: center;
}

.au-title-item {
}
