$city-item-top-bottom-padding: 20px;
$city-item-background-color: #FFF;
$city-item-margin: 10px;
$selected-item-color: #00F;

.top-view {
  font-size: 34px;
  background-color: #EEE;
}

.hot-city-container, .curr-city-container {
  margin-top: 20px;
}

.city-container {
  padding-top: 20px;
  margin: 80px 20px 20px 20px;
}

.curr-city {
  background-color: $city-item-background-color;
  padding: $city-item-top-bottom-padding 0px;
  text-align: center;
  margin: $city-item-margin;
}

.hot-city-row-container {
  display: flex;
  flex-direction: colume;
}

.hot-city-item {
  background-color: $city-item-background-color;
  padding: $city-item-top-bottom-padding 40px;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin: $city-item-margin;
  overflow: hidden;
  white-space: nowrap;
}

.selected-area {
  font-size: 40px;
  margin: 20px 0px;
  text-decoration: underline;
  font-color: $selected-item-color;
  color: $selected-item-color;
  padding: 10px 10px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: colume;
}

.button {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  margin: 10px;
  font-size: 34px;
  border-radius: 20px;
  background-color: #FFF;
  padding: 20px 10px;
}
.confirm-button, .cancel-button {
  background-color: #F05b72;
}
