.show-part-text-1 {
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  border:1px solid #000000;
}

.bold_font_two_space {
  text-indent: 2em;
  font-weight: bold;
}

.two_space {
  text-indent: 2em;
}
