$item-border-thin: 2px;
$content-title-font-size: 40px;
$divider-color: #DDD;

.top-view {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 34px;
}

.swiper-view {
  width: 100%;
  text-align : center;
  background-color: 0;
}

.swiper-view-item {
  width: 100%;
  text-align : center;
}

.show-part-text {
  width: 100%;
  white-space: wrap;
}

.images-handled {
  width: 100%;
  white-space: wrap;
  text-align: center;
}

.show-part-text-1 {
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 100%;
}

.show-part-text-4 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-part-text-2 {
  position: relative; 
  line-height: 20px; 
  max-height: 40px;
  overflow: hidden;
}

.show-part-text-5 {
  display: -webkit-box;
  font-size: 28rpx;
  color:#000000;
  line-height: 40rpx;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
  overflow: hidden;
  text-overflow:ellipsis;
}

.rh-name {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.brief-info {
  border-top: 1px solid #DDD;
}

.info-underline {
  text-decoration: underline;
}

.content-title {
  font-size: $content-title-font-size;
  font-weight: bold;
  border-bottom: 5px solid $divider-color;
  padding-top: 10px;
}

.brief-info-content {
  margin-left: 30px;
}

.important-container {
  display: flex;
  flex-direction: colume;
  border: 1px solid #DDD;
}

.important-item {
  text-align: center;
  border: 1px solid $divider-color;
  flex-grow: 1;
}

.important-item-1 {
  text-align: center;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
  flex-grow: 1;
}

.important-item-content {
  font-size: 38px;
}

.important-item-label {
  font-size: 30px;
}

.bold_font_two_space {
  text-indent: 2em;
  font-weight: bold;
  width: 100%;
}

.two_space {
  text-indent: 2em;
  width: 100%;
}

.text_center {
  text-align: center;
  width: 100%;
}
