$padding-top-title: 10px;
$width-title: 50px;
$height-title: 90px;
$item-border-thin: 2px;
$item-border-thick: 6px;
$item-border-color: #DDD;
$page-background-color: #FFF;

.top-container {
  background-color: $page-background-color;
  font-size: 35px;
}

.top-title-top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /*position: fixed;*/
  z-index: 9;
  background-color: $page-background-color;
}

.top-title-container {
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
  width: 100%;
  height: $height-title;
  line-height: $height-title;
  align-items: center;
  border-bottom: $item-border-thick solid $item-border-color;
}

.top-title-city {
  flex: 1;
  width: $width-title;
  padding-left: $padding-top-title;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-title-logo {
  flex: 1;
  width: $width-title;
}

.rh-classify-search-box-container {
  display: flex;
  flex-direction: colume;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 3px solid #8AC007;
  border-radius: 20px;
  margin-left: 80px;
}

.rh-classify-search-box {
  padding-left: 20px;
}

.rh-classify-search-icon {
  padding: 20px;
  background-color: #EEE;
  border-radius: 0px 20px 20px 0px;
}

.top-title-menu {
  flex: 3;
  width: $width-title;
  height: $width-title;
  padding-right: $padding-top-title;
  padding-left: $padding-top-title;
}

.classify-title-container {
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: $height-title;
  border-bottom: $item-border-thick solid $item-border-color;
}

.classify-title-item {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: $height-title;
  border-right: $item-border-thin solid $item-border-color;
  overflow: hidden;
  white-space: nowrap;
}

.fixed-to-top {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 100px;
  right: 25px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
