.pagefooter-top-view {
  border-top: 1px solid #DDD;
  text-align: center;
  font-size: 25px;
}

.about-us {
  padding: 25px;
  font-size: 30px;
}

.about-us-container {
  margin: 10px;
}

.copyright-container {
  margin: 10px;
  color: #666;
}
