$item-border-color: #DDD;
$page-background-color: #FFF;

.rhlist-top-container {
  background-color: $page-background-color;
  font-size: 35px;
}

.rh-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rh-one-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
  padding: 18px 0px;
  margin: 0px 18px;
  border-bottom: 2px solid $item-border-color;
  border-radius: 20px;
}

.rh-list-loading-more {
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.rh-one-img {
  width: 323px;/*container.height/0.618*/
  height: 100%;
}

.rh-one-desc-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // background-color: #DDD;
  padding-left: 10px;
  padding-bottom: 2px;
}

.rh-one-desc-name {
  width: 100%;
  font-size: 35px;
}

.rh-one-desc-address {
  width: 100%;
  font-size: 26px;
  overflow: hidden;
}

.rh-one-desc-bednum-container {
  width: 100%;
  display: flex;
  flex-direction: colume;
  flex-wrap: nowrap;
}

.rh-one-desc-bednum {
  width: 100%;
  font-size: 26px;
}

.rhlist-total-rh-count-title {
  width: 100%;
  text-align : center;
  font-size: 40px;
}

.rhlist-total-rh-count-content {
  width: 100%;
  text-align : center;
  font-size: 28px;
  border-bottom: 2px solid $item-border-color;
}

.rhlist-total-rh-count-container {
  width: 100%;
  text-align : center;
  background-color: 0;
  border-bottom: 2px solid $item-border-color;
}

.rhlist-curr-rh-count-container {
  width: 100%;
  text-align : center;
  background-color: 0;
  border-bottom: 2px solid $item-border-color;
}

.rh-one-desc-property {
  width: 100%;
  font-size: 26px;
  text-align: right;
  margin-right: 30px;
}
